.yu-toast-wrapper .yu-toast-mask {
	position: fixed;
	z-index: 990;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

.yu-toast-wrapper .yu-toast {
	position: fixed;
	z-index: 990;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	overflow: hidden;
	user-select: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	padding: 10px 15px;
	max-width: 480px;
	min-width: 140px;
	box-sizing: border-box;
	min-height: 48px;
}

.yu-toast-wrapper .yu-toast-top {
	top: 4vw;
	left: 50%;
	width: 92vw;
	transform: translate(-50%, 0);
}

.yu-toast-wrapper .yu-toast-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	gap: 5px;
}

.yu-toast-wrapper .yu-toast-bottom {
	bottom: 4vw;
	width: 92vw;
	left: 50%;
	transform: translate(-50%, 0);
}

.yu-toast-wrapper .yu-toast .toast-hd {
	font-size: 0;
	line-height: 0;
}

.yu-toast-wrapper .yu-toast .toast-hd .icon {
	width: 20px;
	height: 20px;
}

.yu-toast-wrapper .yu-toast-center .toast-hd .icon {
	width: 40px;
	height: 40px;
}

.yu-toast-wrapper .yu-toast .toast-bd {
	-webkit-flex: 1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	line-height: 1.4;
	font-size: 14px;
	word-break: break-all;
}

.yu-toast-wrapper .yu-toast .toast-ft {
	font-size: 0;
	line-height: 0;
	padding: 8px;
}

.yu-toast-wrapper .yu-toast .toast-ft .icon {
	width: 20px;
	height: 20px;
}

.yu-toast-wrapper .yu-toast-center .toast-hd {
	padding: 5px 0;
}

.yu-toast-wrapper .yu-toast-center .toast-bd {
	padding: 5px 0;
}

.yu-toast-wrapper .yu-toast-center .toast-ft{
	margin: 0;
}
.yu-toast-wrapper .yu-toast-top .toast-ft,
.yu-toast-wrapper .yu-toast-bottom .toast-ft{
	margin: -4px -8px -4px 0;
}

.yu-toast-wrapper.yu-toast-in .yu-toast-mask {
	animation: toastFadeIn 0.2s;
}

.yu-toast-wrapper.yu-toast-out .yu-toast-mask {
	animation: toastFadeOut 0.2s;
}

.yu-toast-wrapper.yu-toast-in .yu-toast-top {
	animation: toastTopSlideDown 0.3s ease-out;
}

.yu-toast-wrapper.yu-toast-out .yu-toast-top {
	animation: toastTopSlideUp 0.3s ease-out;
}

.yu-toast-wrapper.yu-toast-in .yu-toast-center {
	animation: toastCenterSlideDown 0.3s ease-out;
}

.yu-toast-wrapper.yu-toast-out .yu-toast-center {
	animation: toastCenterSlideUp 0.3s ease-out;
}

.yu-toast-wrapper.yu-toast-in .yu-toast-bottom {
	animation: toastSlideUp 0.3s ease-out;
}

.yu-toast-wrapper.yu-toast-out .yu-toast-bottom {
	animation: toastSlideDown 0.3s ease-out;
}

.yu-toast-wrapper .yu-toast .toast-hd .loading-wrapper {
	padding: 8px;
}

.yu-toast-wrapper .yu-toast .toast-hd .loading-circle {
	width: 30px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #fff 94%, #0000) top/4px 4px no-repeat, conic-gradient(#0000 30%, #fff);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
	animation: toastLoadingCircleRotate 1s infinite linear;
}

.yu-toast-wrapper .yu-toast .toast-hd .loading-point {
	width: 36px;
	aspect-ratio: 1;
	--_bg: no-repeat radial-gradient(farthest-side, #fff 92%, #0000);
	background:
		var(--_bg) top,
		var(--_bg) left,
		var(--_bg) right,
		var(--_bg) bottom;
	background-size: 8px 8px;
	animation: toastLoadingPointRotate 0.75s infinite;
}

.yu-toast-wrapper .yu-toast-top .toast-hd .loading-wrapper,
.yu-toast-wrapper .yu-toast-bottom .toast-hd .loading-wrapper{
	padding: 2px;
}

.yu-toast-wrapper .yu-toast-top .toast-hd .loading-circle,
.yu-toast-wrapper .yu-toast-bottom .toast-hd .loading-circle{
	width: 24px;
}

.yu-toast-wrapper .yu-toast-top .toast-hd .loading-point,
.yu-toast-wrapper .yu-toast-bottom .toast-hd .loading-point{
	width: 24px;
	background-size: 4px 4px;
}
@media screen and (min-width:768px) {
	.yu-toast-wrapper .yu-toast-top {
		top: 15px;
		width: auto;
	}

	.yu-toast-wrapper .yu-toast-bottom {
		bottom: 15px;
		width: auto;
	}

	.yu-toast-wrapper .yu-toast .toast-ft {
		padding: 4px;
	}
}

@keyframes toastLoadingCircleRotate {
	to {
		transform: rotate(1turn)
	}
}

@keyframes toastLoadingPointRotate {
	to {
		transform: rotate(.5turn)
	}
}

@keyframes toastFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes toastFadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes toastTopSlideDown {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

@keyframes toastTopSlideUp {
	0% {
		opacity: 1;
		transform: translate(-50%, 0);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%);
	}
}

@keyframes toastCenterSlideDown {
	0% {
		opacity: 0;
		transform: translate(-50%, -100%);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

@keyframes toastCenterSlideUp {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -100%);
	}
}

@keyframes toastSlideUp {
	0% {
		opacity: 0;
		transform: translate(-50%, 50%);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

@keyframes toastSlideDown {
	0% {
		opacity: 1;
		transform: translate(-50%, 0);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, 50%);
	}
}