.yu-contextmenu-wrapper{
    background-color: #fff;
	color: #333;
	font-size: 15px;
	line-height: 24px;
    padding: 8px 0;
    border-radius: 8px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
	visibility: visible;
}
.yu-contextmenu-item{
    padding: 8px 20px;
    background-color: transparent;
    cursor: pointer;
}
.yu-contextmenu-item:hover{
    background-color: #f2f2f2;
}