.yu-tool-tip-wrapper {
	position: absolute;
	z-index: 990;
	max-width: 60%;
}

.yu-tool-tip-wrapper .tool-tip-content {
	position: relative;
	z-index: 2;
	width: auto;
	background: #333;
	color: #fff;
	border-radius: 5px;
	padding: 10px 12px;
	font-size: 13px;
	word-break: break-all;
	text-align: left;
}

.yu-tool-tip-wrapper .tool-tip-arrow {
	position: absolute;
	z-index: 1;
	width: 14px;
	height: 14px
}

.yu-tool-tip-top .tool-tip-arrow {
	bottom: -4px;
	left: 50%;
	transform: translateX(-50%)
}

.yu-tool-tip-top-start .tool-tip-arrow {
	bottom: -4px;
	left: 8px
}

.yu-tool-tip-top-end .tool-tip-arrow {
	bottom: -4px;
	right: 8px
}

.yu-tool-tip-left .tool-tip-arrow {
	top: 50%;
	right: -4px;
	transform: translateY(-50%)
}

.yu-tool-tip-left-start .tool-tip-arrow {
	top: 8px;
	right: -4px
}

.yu-tool-tip-left-end .tool-tip-arrow {
	bottom: 8px;
	right: -4px
}

.yu-tool-tip-right .tool-tip-arrow {
	top: 50%;
	left: -4px;
	transform: translateY(-50%)
}

.yu-tool-tip-right-start .tool-tip-arrow {
	top: 8px;
	left: -4px
}

.yu-tool-tip-right-end .tool-tip-arrow {
	bottom: 8px;
	left: -4px
}

.yu-tool-tip-bottom .tool-tip-arrow {
	top: -4px;
	left: 50%;
	transform: translateX(-50%)
}

.yu-tool-tip-bottom-start .tool-tip-arrow {
	top: -4px;
	left: 8px
}

.yu-tool-tip-bottom-end .tool-tip-arrow {
	top: -4px;
	right: 8px
}

@keyframes toolTipAnimateInFade {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes toolTipAnimateOutFade {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@keyframes toolTipAnimateInFadeDown {
	from {
		opacity: 0;
		transform: translateY(-6px);
		z-index: -990
	}

	to {
		opacity: 1;
		z-index: 990;
		transform: translateY(0)
	}
}

@keyframes toolTipAnimateOutFadeDown {
	from {
		opacity: 1;
		transform: translateY(0);
		z-index: 990
	}

	to {
		opacity: 0;
		transform: translateY(-6px);
		z-index: -990
	}
}

@keyframes toolTipFadeOut {
	0% {
		opacity: 1;
		transform: scale(1)
	}

	100% {
		opacity: 0;
		transform: scale(0)
	}
}