.yu-action-sheet-mask {
	position: fixed;
	z-index: 990;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5)
}

.yu-action-sheet {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 990;
	background-color: #fff;
	border-radius: 15px 15px 0 0;
	overflow: hidden;
	user-select: none;
}

.yu-action-sheet .action-sheet-title {
	position: relative;
	height: 56px;
	line-height: 16px;
	padding: 10px 24px;
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.55);
	text-align: center
}

.yu-action-sheet .action-sheet-title::after {
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	content: '';
	transform: scaleY(.5);
	background-color: #e6e6e6
}

.yu-action-sheet .yu-action-sheet-normal .action-sheet-item {
	position: relative;
	padding: 12px 16px;
	box-sizing: border-box;
	overflow: hidden;
}

.yu-action-sheet .yu-action-sheet-normal .action-sheet-item::after {
	position: absolute;
	z-index: 3;
	right: 15px;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	transform: scaleY(.5);
	background-color: #e6e6e6
}

.yu-action-sheet .yu-action-sheet-grid{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 15px;
}

.yu-action-sheet .yu-action-sheet-grid .action-sheet-item{
	position: relative;
	box-sizing: border-box;
	padding: 15px 10px;
}

.yu-action-sheet .action-sheet-item:active,
.yu-action-sheet .action-sheet-close:active {
	background-color: #f0f0f0
}

.yu-action-sheet-in .yu-action-sheet-mask {
	animation: actionSheetFadeIn 0.1s
}

.yu-action-sheet-out .yu-action-sheet-mask {
	animation: actionSheetFadeOut 0.1s
}

.yu-action-sheet-in .yu-action-sheet {
	animation: actionSheetSlideUpApp 0.3s
}

.yu-action-sheet-out .yu-action-sheet {
	animation: actionSheetSlideDownApp 0.3s
}

@media screen and (min-width:768px) {
	.yu-action-sheet {
		bottom: 50%;
		left: 50%;
		right: auto;
		border-radius: 15px;
		width: 360px;
		transform: translate(-50%, 50%)
	}

	.yu-action-sheet .action-sheet-item,
	.yu-action-sheet .action-sheet-close {
		cursor: pointer
	}

	.yu-action-sheet-in .yu-action-sheet {
		animation: actionSheetSlideUp 0.3s
	}

	.yu-action-sheet-out .yu-action-sheet {
		animation: actionSheetSlideDown 0.3s
	}
}

@keyframes actionSheetFadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@keyframes actionSheetFadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@keyframes actionSheetSlideUpApp {
	0% {
		bottom: -50vw;
		opacity: 0
	}

	100% {
		bottom: 0;
		opacity: 1
	}
}

@keyframes actionSheetSlideDownApp {
	0% {
		bottom: 0;
		opacity: 1
	}

	100% {
		bottom: -50vw;
		opacity: 0
	}
}

@keyframes actionSheetSlideUp {
	0% {
		bottom: 0;
		opacity: 0
	}

	100% {
		bottom: 50%;
		opacity: 1
	}
}

@keyframes actionSheetSlideDown {
	0% {
		bottom: 50%;
		opacity: 1
	}

	100% {
		bottom: 0;
		opacity: 0
	}
}